:root {
  --color-primary: #e9e5ea;
  --color-primary-light: #efecf0;
  --color-primary-dark: #dad8da;
  --color-font-primary: #7a5932;
  --color-font-secondary: #fcf7f1;
  --color-header-1: #585665;
  --color-header-2: #ee6055;
  --color-header-3: #102542;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

* {
  margin: 0px;
  padding: 0px; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-font-primary);
  background-color: var(--color-primary); }
  body a {
    text-decoration: none !important; }

section {
  margin-left: 8%;
  margin-right: 8%; }

.element-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start; }
  @media only screen and (max-width: 600px) {
    .element-row {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: flex-start; }
    .element-row.invert-flex {
      flex-direction: column-reverse; } }
  .element-row .element-header-column {
    width: 47.5%;
    display: flex;
    align-content: center;
    align-items: center;
    height: 300px; }
    @media only screen and (max-width: 600px) {
      .element-row .element-header-column {
        width: 100%;
        height: 150px; } }
    .element-row .element-header-column .heading-title {
      text-align: center;
      width: 100%;
      font-size: 5rem;
      font-weight: 200; }
  .element-row .element-content-column {
    width: 60%;
    padding: 70px; }
    @media only screen and (max-width: 600px) {
      .element-row .element-content-column {
        width: 100%;
        padding: 35px; } }

.header-left-part {
  width: 8%;
  background-color: var(--color-primary);
  position: fixed;
  height: 100%;
  overflow: auto; }
  @media only screen and (max-width: 600px) {
    .header-left-part {
      z-index: 999; } }
  .header-left-part .site-title {
    position: fixed;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 5px;
    transform-origin: 0 0;
    top: 35%;
    left: 2.8%;
    transform: rotate(-90deg) translateX(-100px);
    text-transform: uppercase; }
  .header-left-part .menu-social {
    position: fixed;
    font-size: 1.2rem;
    letter-spacing: 5px;
    transform-origin: 0 0;
    top: 60%;
    left: 2.8%;
    transform: rotate(-90deg) translateX(-160px); }
  .header-left-part .toggle-holder {
    top: 4%;
    position: fixed;
    font-size: 2.5rem;
    left: 3.5%; }
  .header-left-part a {
    color: var(--color-font-primary); }

#sticky-wrapper {
  position: absolute;
  z-index: 998; }

.header-right-part {
  width: 1150px !important;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  top: auto !important;
  opacity: 1;
  transition: opacity 0.3s ease;
  height: 0px; }
  .header-right-part .menu-wrapper {
    min-height: 77px;
    transition: transform 0.3s ease-in; }
    .header-right-part .menu-wrapper.active {
      transform: translateY(-100%); }
    .header-right-part .menu-wrapper .menu-holder {
      margin: 0 auto;
      text-align: center;
      background-color: var(--color-primary); }
      .header-right-part .menu-wrapper .menu-holder #header-main-menu {
        display: inline-block; }
        .header-right-part .menu-wrapper .menu-holder #header-main-menu ul {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: row;
          list-style: none; }
          @media only screen and (max-width: 600px) {
            .header-right-part .menu-wrapper .menu-holder #header-main-menu ul {
              display: flex;
              flex-direction: column;
              list-style: none;
              flex-wrap: nowrap;
              align-content: center;
              align-items: stretch;
              height: 100vh;
              justify-content: center; }
              .header-right-part .menu-wrapper .menu-holder #header-main-menu ul:first-child {
                padding-top: 100%; }
              .header-right-part .menu-wrapper .menu-holder #header-main-menu ul:last-child {
                padding-bottom: 100%; } }
          .header-right-part .menu-wrapper .menu-holder #header-main-menu ul li {
            height: 100%;
            font-size: 1.5rem; }
            @media only screen and (min-width: 600px) {
              .header-right-part .menu-wrapper .menu-holder #header-main-menu ul li {
                padding: 26px; } }
            @media only screen and (max-width: 600px) {
              .header-right-part .menu-wrapper .menu-holder #header-main-menu ul li {
                height: 100%;
                font-size: 2rem; } }
            .header-right-part .menu-wrapper .menu-holder #header-main-menu ul li a {
              color: var(--color-font-primary);
              font-weight: 700; }
              .header-right-part .menu-wrapper .menu-holder #header-main-menu ul li a:hover {
                color: var(--color-header-1); }
  .header-right-part .center-relative {
    margin-left: auto;
    margin-right: auto; }
  .header-right-part .relative {
    position: relative; }

.one-page-content-wrapper {
  overflow-x: hidden; }
  .one-page-content-wrapper .elementor {
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual; }
    .one-page-content-wrapper .elementor .elementor *,
    .one-page-content-wrapper .elementor .elementor :after,
    .one-page-content-wrapper .elementor .elementor :before {
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }

.section-1 {
  background-color: var(--color-primary-dark);
  margin-top: 80px; }
  @media only screen and (max-width: 600px) {
    .section-1 {
      margin-top: 35px; } }
  .section-1 .element-header-column {
    height: auto; }
  @media only screen and (max-width: 600px) {
    .section-1 .image-column {
      width: 100%; } }
  .section-1 .image-column img {
    max-height: 600px;
    width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    object-fit: cover; }
    @media only screen and (max-width: 600px) {
      .section-1 .image-column img {
        margin-top: 0px;
        width: 100%; } }
  .section-1 .heading-column .elementor-heading-title {
    font-size: 7rem;
    font-weight: 200 !important;
    line-height: 85px;
    letter-spacing: -4px; }
    @media only screen and (max-width: 600px) {
      .section-1 .heading-column .elementor-heading-title {
        font-size: 5rem;
        font-weight: 200 !important;
        line-height: 47px;
        letter-spacing: 0px; } }
  .section-1 .heading-column .element-header-bio {
    display: inline block;
    font-size: 1.5rem;
    line-height: 25px;
    letter-spacing: 1px;
    margin-top: 70px; }
    @media only screen and (max-width: 600px) {
      .section-1 .heading-column .element-header-bio {
        margin-top: 0px; } }

.section-2 .element-header-column {
  background: var(--color-header-1); }
  .section-2 .element-header-column .heading-title {
    color: #fff; }

.section-2 .element-content-column {
  background: #fff; }
  .section-2 .element-content-column blockquote {
    text-align: right;
    font-size: 4.5em;
    position: relative;
    color: var(--color-header-1);
    letter-spacing: 1px; }
  .section-2 .element-content-column blockquote::before {
    font-size: 200px;
    font-family: Arial;
    content: "\201C";
    color: var(--color-header-1);
    position: absolute;
    left: -30px;
    top: -100px; }
  .section-2 .element-content-column p {
    font-size: 1.5rem;
    margin-top: 30px;
    letter-spacing: 1px; }

.section-3 .element-header-column {
  background: var(--color-header-2); }
  .section-3 .element-header-column .heading-title {
    color: #fff; }

.section-3 .element-content-column {
  background: var(--color-primary-dark); }
  .section-3 .element-content-column h3 {
    font-size: 2rem;
    margin-top: 30px;
    letter-spacing: 1px; }
  .section-3 .element-content-column p {
    font-size: 1.5rem;
    margin-top: 30px;
    letter-spacing: 1px; }

.section-4 .element-header-column {
  background: var(--color-header-3); }
  .section-4 .element-header-column .heading-title {
    color: #fff; }

.section-4 .element-content-column {
  background: var(--color-primary-light); }
  .section-4 .element-content-column .progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: 0.75rem;
    background-color: #fff;
    border-radius: 0.25rem; }
    .section-4 .element-content-column .progress .progress-bar {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: center;
      justify-content: center;
      overflow: hidden;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      background-color: #007bff;
      transition: width 0.6s ease; }
    .section-4 .element-content-column .progress .progress-bar {
      background-color: var(--color-header-1); }
  .section-4 .element-content-column h3 {
    font-size: 2rem;
    margin-top: 30px;
    letter-spacing: 1px; }
  .section-4 .element-content-column h2 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 10px;
    letter-spacing: 1px; }
  .section-4 .element-content-column p {
    font-size: 1.5rem;
    margin-top: 30px;
    letter-spacing: 1px; }

.section-5 .element-header-column {
  background: var(--color-header-1); }
  .section-5 .element-header-column .heading-title {
    color: #fff; }

.section-5 .element-content-column {
  background: #fff; }
  .section-5 .element-content-column ul.timeline {
    list-style-type: none;
    position: relative; }
  .section-5 .element-content-column ul.timeline:before {
    content: " ";
    background: var(--color-header-1);
    display: inline-block;
    position: absolute;
    right: 70%;
    width: 4px;
    height: 100%;
    z-index: 400; }
  .section-5 .element-content-column ul.timeline > li {
    margin: 20px 0;
    height: 100px; }
  .section-5 .element-content-column ul.timeline > li:before {
    content: " ";
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid var(--color-header-1);
    right: 70%;
    width: 30px;
    height: 30px;
    z-index: 400;
    transform: translate(13px, -50%); }
  .section-5 .element-content-column ul.timeline > li p {
    display: inline-block; }
  .section-5 .element-content-column .year {
    color: var(--color-header-1);
    font-size: 2rem;
    margin-top: -3%;
    margin-left: 7%;
    font-weight: bold; }
    @media only screen and (max-width: 600px) {
      .section-5 .element-content-column .year {
        margin-left: 0%; } }
  .section-5 .element-content-column .title {
    font-size: 2rem;
    margin-top: -3%;
    margin-left: 25%;
    color: var(--color-font-primary);
    font-weight: bold; }
    @media only screen and (max-width: 600px) {
      .section-5 .element-content-column .title {
        margin-left: 27%; } }
  .section-5 .element-content-column .description {
    color: var(--color-font-primary);
    margin-left: 42%;
    font-size: 1.5rem; }

.section-6 .element-header-column {
  background: var(--color-header-2); }
  .section-6 .element-header-column .heading-title {
    color: #fff; }

.section-6 .element-content-column {
  background: var(--color-primary-light);
  /* Style the button that is used to open and close the collapsible content */
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  /* Style the collapsible content. Note: hidden by default */ }
  .section-6 .element-content-column .collapsible {
    background-color: var(--color-header-1);
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 20px; }
    .section-6 .element-content-column .collapsible:first-of-type {
      margin-top: 50px; }
  .section-6 .element-content-column .content {
    padding: 0px 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: var(--color-font-primary); }
  .section-6 .element-content-column .company-name {
    font-size: 2rem; }
  .section-6 .element-content-column .points {
    font-size: 1.4rem;
    padding: 20px; }
  .section-6 .element-content-column li ul {
    font-size: 1.4rem;
    padding: 20px; }
  .section-6 .element-content-column h3 {
    font-size: 2rem;
    margin-top: 30px;
    letter-spacing: 1px; }
  .section-6 .element-content-column h2 {
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 10px;
    letter-spacing: 1px; }
  .section-6 .element-content-column p {
    font-size: 1.5rem;
    margin-top: 30px;
    letter-spacing: 1px; }

.section-7 .element-header-column {
  background: var(--color-header-3); }
  .section-7 .element-header-column .heading-title {
    color: #fff; }

.section-7 .element-content-column {
  background: var(--color-primary-dark); }
  .section-7 .element-content-column .input-field {
    position: relative;
    width: 100%;
    height: 44px;
    line-height: 44px;
    margin-bottom: 30px; }
  .section-7 .element-content-column label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--color-font-primary);
    transition: 0.2s all;
    cursor: text;
    font-size: 1.8rem;
    font-weight: bold; }
  .section-7 .element-content-column input,
  .section-7 .element-content-column textarea {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 1rem 0;
    border-bottom: 2px solid var(--color-font-primary);
    box-shadow: none;
    color: #111;
    background-color: inherit;
    font-weight: bold; }
  .section-7 .element-content-column #form-submit-btn {
    border-bottom: 2px solid var(--color-font-primary);
    border-top: 2px solid var(--color-font-primary);
    border-left: 2px solid var(--color-font-primary);
    border-right: 2px solid var(--color-font-primary);
    height: 80px;
    margin-top: 72px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s all ease-in; }
    @media only screen and (max-width: 600px) {
      .section-7 .element-content-column #form-submit-btn {
        letter-spacing: 2px; } }
    .section-7 .element-content-column #form-submit-btn:hover {
      background-color: var(--color-font-primary);
      color: var(--color-primary-dark);
      transition: 0.3s all ease-in; }
  .section-7 .element-content-column textarea {
    resize: none; }
  .section-7 .element-content-column input:invalid,
  .section-7 .element-content-column textarea:invalid {
    outline: 0; }
  .section-7 .element-content-column input:focus,
  .section-7 .element-content-column input:valid,
  .section-7 .element-content-column textarea:focus,
  .section-7 .element-content-column textarea:valid {
    border-color: var(--color-font-primary); }
  .section-7 .element-content-column input:focus ~ label,
  .section-7 .element-content-column input:valid ~ label,
  .section-7 .element-content-column textarea:focus ~ label,
  .section-7 .element-content-column textarea:valid ~ label {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 3px;
    top: -24px;
    color: var(--color-font-primary); }

footer {
  margin-left: 8%;
  margin-right: 8%;
  text-align: center; }
  footer ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center; }
  footer li {
    padding: 50px 50px;
    list-style: none; }
    @media only screen and (max-width: 600px) {
      footer li {
        padding: 9.5%; } }
    footer li a {
      font-size: 3rem;
      color: var(--color-font-primary); }
  footer p {
    font-size: 1.5rem;
    padding-bottom: 50px;
    letter-spacing: 1px; }
    footer p a {
      color: var(--color-font-primary);
      text-decoration: underline !important;
      font-weight: bold; }
  footer .fa-twitter:hover {
    color: #00acee; }
  footer .fa-linkedin-in:hover {
    color: #0077b5; }
  footer .fa-facebook-f:hover {
    color: #3b5998; }
  footer .fa-instagram:hover {
    background: -webkit-linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  footer .fa-heart:hover {
    color: #bd0505; }
