:root {
  // --color-primary: #faeddf;
  // --color-primary-light: #fcf7f1;
  // --color-primary-dark: #f0deca;

  --color-primary: #e9e5ea;
  --color-primary-light: #efecf0;
  --color-primary-dark: #dad8da;

  --color-font-primary: #7a5932;
  --color-font-secondary: #fcf7f1;

  --color-header-1: #585665;
  --color-header-2: #ee6055;
  // --color-header-2: #f8a577;
  --color-header-3: #102542;
  // --color-header-3: #e8c547;
  // --color-header-3: #56876d;
  // --color-header-1: #198597;
  // --color-header-2: #f8a577;
  // --color-header-3: #fff485;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

$bp-largest: 75em; // 1200px

* {
  margin: 0px;
  padding: 0px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1 rem = 10px, 10px/16px = 62.5%

  @media only screen and (max-width: 900px) {
    font-size: 50%;
  }
}

// html {
//   scroll-behavior: smooth;
// }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-font-primary);
  background-color: var(--color-primary);

  a {
    text-decoration: none !important;
  }
}

section {
  margin-left: 8%;
  margin-right: 8%;
}
