/////////////////// Header //////////////////

.header-left-part {
  width: 8%;
  background-color: var(--color-primary);
  position: fixed;
  height: 100%;
  overflow: auto;

  @media only screen and (max-width: 600px) {
    z-index: 999;
  }

  .site-title {
    position: fixed;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 5px;
    transform-origin: 0 0;
    top: 35%;
    left: 2.8%;
    transform: rotate(-90deg) translateX(-100px);
    text-transform: uppercase;
  }

  .menu-social {
    position: fixed;
    font-size: 1.2rem;
    letter-spacing: 5px;
    transform-origin: 0 0;
    top: 60%;
    left: 2.8%;
    transform: rotate(-90deg) translateX(-160px);
  }

  .toggle-holder {
    top: 4%;
    position: fixed;
    font-size: 2.5rem;
    left: 3.5%;
  }

  a {
    color: var(--color-font-primary);
  }
}

#sticky-wrapper {
  // @media only screen and (max-width: 600px) {
  & {
    position: absolute;
    z-index: 998;
  }
  // }
}

.header-right-part {
  width: 1150px !important;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  top: auto !important;
  opacity: 1;
  transition: opacity 0.3s ease;
  height: 0px;

  .menu-wrapper {
    min-height: 77px;

    transition: transform 0.3s ease-in;

    &.active {
      transform: translateY(-100%);
    }

    .menu-holder {
      margin: 0 auto;
      text-align: center;
      background-color: var(--color-primary);

      #header-main-menu {
        display: inline-block;

        ul {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          flex-direction: row;
          list-style: none;

          @media only screen and (max-width: 600px) {
            display: flex;
            flex-direction: column;
            list-style: none;
            flex-wrap: nowrap;
            align-content: center;
            align-items: stretch;
            height: 100vh;
            justify-content: center;

            &:first-child {
              padding-top: 100%;
            }
            &:last-child {
              padding-bottom: 100%;
            }
          }

          li {
            height: 100%;
            font-size: 1.5rem;

            @media only screen and (min-width: 600px) {
              padding: 26px;
            }

            @media only screen and (max-width: 600px) {
              height: 100%;
              font-size: 2rem;
              // padding: 21px;
            }

            a {
              color: var(--color-font-primary);
              font-weight: 700;

              &:hover {
                color: var(--color-header-1);
              }
            }
          }
        }
      }
    }
  }

  .center-relative {
    margin-left: auto;
    margin-right: auto;
  }

  .relative {
    position: relative;
  }
}

/////////////////// Main Component ////////////////

.one-page-content-wrapper {
  overflow-x: hidden;

  .elementor {
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;

    .elementor *,
    .elementor :after,
    .elementor :before {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}

.section-1 {
  background-color: var(--color-primary-dark);
  margin-top: 80px;

  @media only screen and (max-width: 600px) {
    margin-top: 35px;
  }

  & .element-header-column {
    height: auto;
  }

  .image-column {
    // width: 40%;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
  }

  .image-column img {
    // margin-top: 144px;
    // height: 600px;
    max-height: 600px;
    width: 100%;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    object-fit: cover;

    @media only screen and (max-width: 600px) {
      margin-top: 0px;
      width: 100%;
    }
  }

  .heading-column {
    .elementor-heading-title {
      font-size: 7rem;
      font-weight: 200 !important;
      line-height: 85px;
      letter-spacing: -4px;
      // padding: 10% 20% 2% 35%;

      @media only screen and (max-width: 600px) {
        font-size: 5rem;
        font-weight: 200 !important;
        line-height: 47px;
        letter-spacing: 0px;
        // padding: 20px 35px;
      }
    }

    .element-header-bio {
      display: inline block;
      font-size: 1.5rem;
      // font-weight: 200 !important;
      line-height: 25px;
      // letter-spacing: -4px;
      // padding: 0px 20% 7% 35%;
      letter-spacing: 1px;
      margin-top: 70px;

      @media only screen and (max-width: 600px) {
        & {
          margin-top: 0px;
          // padding: 20px 35px;
        }
      }
    }
  }
}

////////////////////// Section 2 //////////////

.section-2 {
  .element-header-column {
    background: var(--color-header-1);
    .heading-title {
      color: #fff;
    }
  }

  .element-content-column {
    background: #fff;

    blockquote {
      text-align: right;
      font-size: 4.5em;
      position: relative;
      color: var(--color-header-1);
      letter-spacing: 1px;
    }

    blockquote::before {
      font-size: 200px;
      font-family: Arial;
      content: "\201C";
      color: var(--color-header-1);
      position: absolute;
      left: -30px;
      top: -100px;
    }

    p {
      font-size: 1.5rem;
      margin-top: 30px;
      letter-spacing: 1px;
    }
  }
}

////////////// Section 3 //////////////

.section-3 {
  .element-header-column {
    background: var(--color-header-2);
    .heading-title {
      color: #fff;
    }
  }

  .element-content-column {
    background: var(--color-primary-dark);

    h3 {
      font-size: 2rem;
      margin-top: 30px;
      letter-spacing: 1px;
    }

    p {
      font-size: 1.5rem;
      margin-top: 30px;
      letter-spacing: 1px;
    }
  }
}

/////// Section 4///////////////////

.section-4 {
  .element-header-column {
    background: var(--color-header-3);
    .heading-title {
      color: #fff;
    }
  }

  .element-content-column {
    background: var(--color-primary-light);

    .progress {
      display: -ms-flexbox;
      display: flex;
      height: 1rem;
      overflow: hidden;
      line-height: 0;
      font-size: 0.75rem;
      background-color: #fff;
      border-radius: 0.25rem;

      .progress-bar {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        overflow: hidden;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: #007bff;
        transition: width 0.6s ease;
      }

      .progress-bar {
        background-color: var(--color-header-1);
      }
    }

    h3 {
      font-size: 2rem;
      margin-top: 30px;
      letter-spacing: 1px;
    }

    h2 {
      font-size: 1.5rem;
      margin-top: 30px;
      margin-bottom: 10px;
      letter-spacing: 1px;
    }

    p {
      font-size: 1.5rem;
      margin-top: 30px;
      letter-spacing: 1px;
    }
  }
}

/////////////////// Section 5 ///////////

.section-5 {
  .element-header-column {
    background: var(--color-header-1);
    .heading-title {
      color: #fff;
    }
  }

  .element-content-column {
    background: #fff;

    ul.timeline {
      list-style-type: none;
      position: relative;
    }

    ul.timeline:before {
      content: " ";
      background: var(--color-header-1);
      display: inline-block;
      position: absolute;
      right: 70%;
      width: 4px;
      height: 100%;
      z-index: 400;
    }

    ul.timeline > li {
      margin: 20px 0;
      height: 100px;
    }

    ul.timeline > li:before {
      content: " ";
      background: white;
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 3px solid var(--color-header-1);
      right: 70%;
      width: 30px;
      height: 30px;
      z-index: 400;
      transform: translate(13px, -50%);
    }

    ul.timeline > li p {
      display: inline-block;
    }

    .year {
      color: var(--color-header-1);
      font-size: 2rem;
      margin-top: -3%;
      margin-left: 7%;
      font-weight: bold;

      @media only screen and (max-width: 600px) {
        & {
          margin-left: 0%;
        }
      }
    }

    .title {
      font-size: 2rem;
      margin-top: -3%;
      margin-left: 25%;
      color: var(--color-font-primary);
      font-weight: bold;

      @media only screen and (max-width: 600px) {
        & {
          margin-left: 27%;
        }
      }
    }

    .description {
      color: var(--color-font-primary);
      margin-left: 42%;
      font-size: 1.5rem;
    }
  }
}

//////////////// Section 6 ///////////////////

.section-6 {
  .element-header-column {
    background: var(--color-header-2);
    .heading-title {
      color: #fff;
    }
  }

  .element-content-column {
    background: var(--color-primary-light);

    /* Style the button that is used to open and close the collapsible content */
    .collapsible {
      background-color: var(--color-header-1);
      color: #fff;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      font-size: 1.5rem;
      font-weight: bold;
      margin-top: 20px;

      &:first-of-type {
        margin-top: 50px;
      }
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    // .active,
    // .collapsible:hover {
    //   background-color: #ccc;
    // }

    /* Style the collapsible content. Note: hidden by default */
    .content {
      padding: 0px 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      color: var(--color-font-primary);
    }

    .company-name {
      font-size: 2rem;
    }

    .points {
      font-size: 1.4rem;
      padding: 20px;
    }

    li ul {
      font-size: 1.4rem;
      padding: 20px;
    }

    h3 {
      font-size: 2rem;
      margin-top: 30px;
      letter-spacing: 1px;
    }

    h2 {
      font-size: 1.5rem;
      margin-top: 30px;
      margin-bottom: 10px;
      letter-spacing: 1px;
    }

    p {
      font-size: 1.5rem;
      margin-top: 30px;
      letter-spacing: 1px;
    }
  }
}

///////////// Secction 7 ///////////

.section-7 {
  .element-header-column {
    background: var(--color-header-3);
    .heading-title {
      color: #fff;
    }
  }

  .element-content-column {
    background: var(--color-primary-dark);

    form {
      // margin: 100px;
    }
    .input-field {
      position: relative;
      width: 100%;
      height: 44px;
      line-height: 44px;
      margin-bottom: 30px;
    }
    label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      color: var(--color-font-primary);
      transition: 0.2s all;
      cursor: text;
      font-size: 1.8rem;
      font-weight: bold;
    }
    input,
    textarea {
      width: 100%;
      border: 0;
      outline: 0;
      padding: 1rem 0;
      border-bottom: 2px solid var(--color-font-primary);
      box-shadow: none;
      color: #111;
      background-color: inherit;
      font-weight: bold;
    }

    #form-submit-btn {
      // border-color: #7a5932;
      border-bottom: 2px solid var(--color-font-primary);
      border-top: 2px solid var(--color-font-primary);
      border-left: 2px solid var(--color-font-primary);
      border-right: 2px solid var(--color-font-primary);
      height: 80px;
      margin-top: 72px;
      font-size: 2rem;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s all ease-in;

      @media only screen and (max-width: 600px) {
        & {
          letter-spacing: 2px;
        }
      }

      &:hover {
        background-color: var(--color-font-primary);
        color: var(--color-primary-dark);
        transition: 0.3s all ease-in;
      }
    }

    textarea {
      resize: none;
    }

    input:invalid,
    textarea:invalid {
      outline: 0;
      // color: #ff2300;
      //   border-color: #ff2300;
    }
    input:focus,
    input:valid,
    textarea:focus,
    textarea:valid {
      border-color: var(--color-font-primary);
    }
    input:focus ~ label,
    input:valid ~ label,
    textarea:focus ~ label,
    textarea:valid ~ label {
      font-size: 1.2rem;
      font-weight: bold;
      padding-bottom: 3px;
      top: -24px;
      color: var(--color-font-primary);
    }
  }
}

/////////////////// Footer ////////////

footer {
  margin-left: 8%;
  margin-right: 8%;
  text-align: center;

  ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  li {
    padding: 50px 50px;
    list-style: none;

    @media only screen and (max-width: 600px) {
      padding: 9.5%;
    }

    a {
      font-size: 3rem;
      color: var(--color-font-primary);
    }
  }

  p {
    font-size: 1.5rem;
    padding-bottom: 50px;
    letter-spacing: 1px;

    a {
      color: var(--color-font-primary);
      text-decoration: underline !important;
      font-weight: bold;
    }
  }

  .fa-twitter:hover {
    color: #00acee;
  }

  .fa-linkedin-in:hover {
    color: #0077b5;
  }
  .fa-facebook-f:hover {
    color: #3b5998;
  }
  .fa-instagram:hover {
    background: -webkit-linear-gradient(
      45deg,
      #405de6,
      #5851db,
      #833ab4,
      #c13584,
      #e1306c,
      #fd1d1d
    );
    // font-size: 72px;
    // background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .fa-heart:hover {
    color: rgb(189, 5, 5);
  }
}
