.element-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  //   align-items: stretch;

  @media only screen and (max-width: 600px) {
    & {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: flex-start;
    }

    &.invert-flex {
      flex-direction: column-reverse;
    }
  }

  .element-header-column {
    width: 47.5%;
    display: flex;
    align-content: center;
    align-items: center;
    height: 300px;
    // background: blueviolet;

    @media only screen and (max-width: 600px) {
      & {
        width: 100%;
        height: 150px;
      }
    }

    .heading-title {
      text-align: center;
      width: 100%;
      font-size: 5rem;
      font-weight: 200;
    }
  }

  .element-content-column {
    width: 60%;
    padding: 70px;

    @media only screen and (max-width: 600px) {
      & {
        width: 100%;
        padding: 35px;
      }
    }
  }
}
